<p>We don't use with any validate and accept</p>
<lib-VirtualKeyboard [language]="'en'"></lib-VirtualKeyboard>
<p>We use with validate and accept</p>
<lib-VirtualKeyboard [language]="'he'" [validateCallBack]="validate" [acceptCallBack]="accept"></lib-VirtualKeyboard>
<p>We use with validateNumber and accept</p>
<lib-VirtualKeyboard [language]="'he'" [validateCallBack]="validateNumber" [acceptCallBack]="accept"></lib-VirtualKeyboard>
<p>With numeric</p>
<lib-VirtualKeyboard [language]="'num'" [validateCallBack]="validateNumber" [acceptCallBack]="accept"></lib-VirtualKeyboard>
<p>Custom Virtual Keyboard</p>
<lib-VirtualKeyboard [keyboardLayout]="custom_Keyboard"></lib-VirtualKeyboard>
<p>emoticons virtual keyboard</p>
<lib-VirtualKeyboard [language]="'emo'"></lib-VirtualKeyboard>
<p>VK with accept event that notify vk ID </p>
<lib-VirtualKeyboard [language]="'en'" [acceptWithIDCallBack]="acceptWithVK_ID" [vk_id]="'007'"></lib-VirtualKeyboard>
<router-outlet></router-outlet>
