<p>We don't use with any validate and accept</p>
<lib-VirtualKeyboard [language]="'en'"></lib-VirtualKeyboard>
<p>We use with validate and accept</p>
<lib-VirtualKeyboard [language]="'he'" [validateCallBack]="validate" [acceptCallBack]="accept"></lib-VirtualKeyboard>
<p>We use with validateNumber and accept</p>
<lib-VirtualKeyboard [language]="'he'" [validateCallBack]="validateNumber" [acceptCallBack]="accept"></lib-VirtualKeyboard>
<p>With numeric</p>
<lib-VirtualKeyboard [language]="'num'" [validateCallBack]="validateNumber" [acceptCallBack]="accept"></lib-VirtualKeyboard>
<router-outlet></router-outlet>
